[[source]]
name = "pypi"
url = "https://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true

[dev-packages]

[packages]
django = "==2.2.16"
mysqlclient = "*"
pillow = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"

[requires]
python_version = "3.7"
